body{
    background-color: #fff5e4;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.no-wrapper{
    position: relative;
    min-width: 150px;
    min-height: 50px;
}

.yes{
    margin: 5%;
    width: 25%;
}

.yes-button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    font-family: "courier";
    margin-bottom: 20px;
    background-color: #ffe3e1;
    color: #e67373;
    border-radius: 12px;
    border: 2px solid #ffe3e1;
    box-shadow: 1px 1px 2px #ff9494;
    transition: 0.3s;
}

.no-button{
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    font-family: "courier";
    margin-bottom: 20px;
    color: white;
    border-radius: 12px;
    border: 2px solid #262222;
    box-shadow: 1px 1px 2px #4a4747;
    transition: 0.2s;
}

.valentine-text{
    font-family: "Courier";
    color: #ff9494;
    text-align: center;
}