.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 400px;
}

.yes{
    margin: 5%;
    width: 25%;
}

.yes-button{
    width: 100%;
    height: 100%;
    background-color: pink;
    border-radius: 5px;
    height: 40px;
    width: 150px;
}

.no-button{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    position: absolute;
    right: 0;
}